html {
  font-size: 10px;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 8px;
  }
}


@media screen and (min-width: 1920px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 2200px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 2400px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 15px;
  }
}



body {
  margin: 0;
  font-family: 'Avenir Next Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #17181a !important;
}

html,
body,
#root {
  height: 100%;
}

a, a:hover {
  text-decoration: none;
}

input, textarea {
  resize: none;
}

.MuiTabs-indicator.MuiTabs-indicator  {
  background: transparent;
}

::-webkit-scrollbar {
  width: .1rem;
}

::-webkit-scrollbar-thumb {
  background: #366CE5;
}